body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
   display: flex;
   justify-content: center;
   font-size: 28px;
   color: blueviolet;
   margin-bottom: 50px;
}

.board {
    display: grid;
    width: 600px;
    height: 600px;
    border: 1px solid gray;
}

.grid-item {
    border: 0.5px solid lightgray;
}